<!-- <div class="container">


  <div class="row">
    <div class="col-md-8" style="background-color: #18BC9C;padding-bottom: 10px;padding-top: 10px">
      <div style="font-size: 50px; padding-left: 50px">
        <%= image_tag "profile.png" %>
        Learning RoR!
      </div>

    </div>

    <div class="col-md-4">
      <h1>在线选课系统样本</h1>
      <p>这个样本系统是基于国科大研究生课程(高级软件工程)开发的项目,目的是帮助入门者学习RoR(Ruby on Rails),这是适合新学者的入手的第一个项目</p>
      <p>入门者可以在这个样本系统上增加更多的功能:</p>
      <ul>

        <li class="text-danger">
          处理选课冲突、控制选课人数
        </li>
        <li class="text-danger">
          统计选课学分,增加选课的开放、关闭功能
        </li>
        <li class="text-danger">
          自定义管理员后台
        </li>
        <li class="text-danger">
          基于OAuth的授权登陆
        </li>
        <li class="text-danger">
          Excel格式的数据导入
        </li>
      </ul>

    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-info text-center">
        开发此项目,你需要具备以下的知识:
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-md-4">
      <h2>Bootstrap</h2>
      <p>Bootstrap，来自 Twitter，是目前很受欢迎的前端框架。Bootstrap 是基于 HTML、CSS、JAVASCRIPT 的，它简洁灵活，使得 Web 开发更加快捷. 它由Twitter的设计师Mark
        Otto和Jacob Thornton合作开发，是一个CSS/HTML框架。Bootstrap提供了优雅的HTML和CSS规范，它即是由动态CSS语言Less写成。</p>
      <a class="btn btn-info" href="http://www.w3schools.com/bootstrap/">More Info</a>
    </div>

    <div class="col-md-4">
      <h2>Javascript/CSS</h2>
      <p>JavaScript一种直译式脚本语言,广泛用于客户端的脚本语言,是一种动态类型、弱类型、基于原型的语言，内置支持类型，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。CSS
        (Cascading Style Sheets)是一种用来表现HTML样式的样式语言,能够真正做到网页表现与内容分离。
      </p>
      <a class="btn btn-info" href="http://www.runoob.com/js/js-tutorial.html">More Info</a>
    </div>

    <div class="col-md-4">
      <h2>Rails Framework</h2>
      <p>Rails基于MVC（模型- 视图- 控制器）设计模式。从视图中的Ajax应用，到控制器中的访问请求和反馈，到封装数据库的模型，Rails
        为你提供一个纯Ruby的开发环境,它基于一种计算机软件语言Ruby,给程序开发人员提供了强大的框架支持。Rails结合了PHP体系的优点（快速开发）和Java体系的优点（程序规整）</p>
      <a class="btn btn-info" href="http://guides.ruby-china.org/">More Info</a>
    </div>
  </div>
</div>
 -->
   <div class="container">


  <div class="row">
    <!-- <div class="col-md-8" style="background-color: #18BC9C;padding-bottom: 10px;padding-top: 10px"> -->
      <div style="font-size: 50px; padding-left: 50px; height: auto; width: auto;">
        <%= image_tag "profile.png"%>
       <!--  Learning RoR! -->
      </div>

   <!--  </div>
     <div class="top_t">
  <div class="top_t_c">
    <img src="lougou.png" usemap="#Map3"/>
    <map name="Map3">
          <area shape="rect" coords="17,17,97,97" href="http://www.cas.cn" target="_blank" title="中国科学院" >
          <area shape="rect" coords="113,83,447,98" href="http://english.ucas.ac.cn" target="_blank" title="click to enter  English web">
          <area shape="rect" coords="112,19,439,68" href="http://www.ucas.ac.cn" target="_blank" title="中国科学院大学">
      </map>
  </div>
</div>
<div id="menu_out">
  <div id="menu_in">
    <div id="menu">
      <ul id="nav">

    </div> -->

  <!--   <div class="col-md-4">
      <h1>在线选课系统样本</h1>
      <p>这个样本系统是基于国科大研究生课程(高级软件工程)开发的项目,目的是帮助入门者学习RoR(Ruby on Rails),这是适合新学者的入手的第一个项目</p>
      <p>入门者可以在这个样本系统上增加更多的功能:</p>
      <ul>

        <li class="text-danger">
          处理选课冲突、控制选课人数
        </li>
        <li class="text-danger">
          统计选课学分,增加选课的开放、关闭功能
        </li>
        <li class="text-danger">
          自定义管理员后台
        </li>
        <li class="text-danger">
          基于OAuth的授权登陆
        </li>
        <li class="text-danger">
          Excel格式的数据导入
        </li>
      </ul>

    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-info text-center">
        开发此项目,你需要具备以下的知识:
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-md-4">
      <h2>Bootstrap</h2>
      <p>Bootstrap，来自 Twitter，是目前很受欢迎的前端框架。Bootstrap 是基于 HTML、CSS、JAVASCRIPT 的，它简洁灵活，使得 Web 开发更加快捷. 它由Twitter的设计师Mark
        Otto和Jacob Thornton合作开发，是一个CSS/HTML框架。Bootstrap提供了优雅的HTML和CSS规范，它即是由动态CSS语言Less写成。</p>
      <a class="btn btn-info" href="http://www.w3schools.com/bootstrap/">More Info</a>
    </div>

    <div class="col-md-4">
      <h2>Javascript/CSS</h2>
      <p>JavaScript一种直译式脚本语言,广泛用于客户端的脚本语言,是一种动态类型、弱类型、基于原型的语言，内置支持类型，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。CSS
        (Cascading Style Sheets)是一种用来表现HTML样式的样式语言,能够真正做到网页表现与内容分离。
      </p>
      <a class="btn btn-info" href="http://www.runoob.com/js/js-tutorial.html">More Info</a>
    </div>

    <div class="col-md-4">
      <h2>Rails Framework</h2>
      <p>Rails基于MVC（模型- 视图- 控制器）设计模式。从视图中的Ajax应用，到控制器中的访问请求和反馈，到封装数据库的模型，Rails
        为你提供一个纯Ruby的开发环境,它基于一种计算机软件语言Ruby,给程序开发人员提供了强大的框架支持。Rails结合了PHP体系的优点（快速开发）和Java体系的优点（程序规整）</p>
      <a class="btn btn-info" href="http://guides.ruby-china.org/">More Info</a>
    </div>
  </div>
</div>
 -->   

<style type="text/css">
  .gallery-scroll {
    overflow: hidden;
    height: 132px;
  }
  .gallery-scroll ul li {
    float: left;
    margin-right: 9px;
  }
  .home-special-list {
    padding-left: 22px;
  }
  .home-special-list li {
    display: inline-block;
    margin-right: 22px;
  }
  .home-special-list li a {
    display: block;
    color: #454545;
    text-align: center;
    font-size:14px;
  }
  .home-special-list li a:hover {
    color: #000;
  }
   .home-special-list {
    margin-left: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
</style>



 <div id="main-content">
    <div class="container-fluid">
  <div id="home-news">
        <div class="panel">
            <div class="panel-head s2">
                <h3 class="panel2-head-title"><span>新闻聚焦</span></h3>
            </div>
            <div class="panel-body" style="height:350px;">
                <ul class="home-news-list" id="xwjj">
                  
                    <li>
                      <a title="国科大9名教授入选2017年度长江学者建议人选名单" href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=342708&catid=369&Itemid=206" target="_blank">&#22269;&#31185;&#22823;9&#21517;&#25945;&#25480;&#20837;&#36873;2017&#24180;&#24230;&#38271;&#27743;&#23398;&#32773;&#24314;&#35758;&#20154;&#36873;&#21517;&#21333;</a>
                      <p>&#12288;&#12288;2018&#24180;1&#26376;5&#26085;&#65292;&#25945;&#32946;&#37096;&#36890;&#36807;&#23448;&#26041;&#32593;&#31449;&#21644;&#23448;&#26041;&#24494;&#20449;&#20844;&#20247;&#21495;&#23545;2017&#24180;&#24230;&ldquo;&#38271;&#27743;&#23398;&#32773;&#22870;&#21169;&#35745;&#21010;&rdquo;&#24314;&#35758;&#20154;&#36873;&#21517;&#21333;&#36827;&#34892;&#20844;&#31034;&#12290;&#20013;&#22269;&#31185;&#23398;&#38498;&#22823;&#23398;&#65288;&#20197;&#19979;&#31616;&#31216;&#22269;&#31185;&#22823;&#65289;&#20849;9&#21517;&#25945;&#25480;&#20837;&#36873;&#65292;&#20854;&#20013;&#38271;&#27743;&#23398;(全文......)</p>
                    </li>
                  
                    <li>
                      <a title="国科大党委书记张杰院士为研究生上思政课" href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=342707&catid=340&Itemid=176" target="_blank">&#22269;&#31185;&#22823;&#20826;&#22996;&#20070;&#35760;&#24352;&#26480;&#38498;&#22763;&#20026;&#30740;&#31350;&#29983;&#19978;&#24605;&#25919;&#35838;</a>
                      <p>


&#12288;&#12288;1&#26376;4&#26085;&#19979;&#21320;&#19968;&#28857;&#65292;&#20013;&#22269;&#31185;&#23398;&#38498;&#22823;&#23398;&#38593;&#26646;&#28246;&#26657;&#21306;&#23398;&#29983;&#31036;&#22530;&#65292;&#36317;&#31163;&#12298;&#20013;&#22269;&#39532;&#20811;&#24605;&#20027;&#20041;&#19982;&#24403;&#20195;&#12299;&#21338;&#22763;&#30740;&#31350;&#29983;&#20844;&#20849;&#24517;&#20462;&#35838;&#30340;&#24320;&#35838;&#26102;&#38388;&#36824;&#26377;&#21322;&#23567;&#26102;&#65292;&#29289;&#29702;&#31185;&#23398;&#23398;&#38498;2017&#32423;&#30740;&#31350;&#29983;&#27946;&#24422;&#24069;(全文......)</p>
                    </li>
                  
                    <li>
                      <a title="国科大举办2018新年钟声跨年盛典" href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=342589&catid=340&Itemid=176" target="_blank">&#22269;&#31185;&#22823;&#20030;&#21150;2018&#26032;&#24180;&#38047;&#22768;&#36328;&#24180;&#30427;&#20856;</a>
                      <p>


&#12288;&#12288;&#20202;&#24335;&#24863;&#26159;&#20160;&#20040;&#65311;&#23567;&#29579;&#23376;&#30340;&#29392;&#29432;&#35828;&#65292;&#23427;&#23601;&#26159;&#20351;&#26576;&#19968;&#22825;&#19982;&#20854;&#20182;&#26085;&#23376;&#19981;&#21516;&#65292;&#20351;&#26576;&#19968;&#26102;&#21051;&#19982;&#20854;&#20182;&#26102;&#21051;&#19981;&#21516;&#30340;&#19996;&#35199;&#12290;
&#12288;&#12288;&#37027;&#26152;&#22812;&#30340;&ldquo;&#32838;&#21548;&#23681;&#20803; &#30633;&#26395;&#26410;&#26469;&rdquo;&#36328;&#24180;&#30427;&#20856;&#20415;&#26159;&#19968;&#22330;&#32473;&#25152;&#26377;&#22269;(全文......)</p>
                    </li>
                  
                    <li>
                      <a title="国科大人文学院联合党委召开党政联席会议" href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=342572&catid=340&Itemid=176" target="_blank">&#22269;&#31185;&#22823;&#20154;&#25991;&#23398;&#38498;&#32852;&#21512;&#20826;&#22996;&#21484;&#24320;&#20826;&#25919;&#32852;&#24109;&#20250;&#35758;</a>
                      <p>&#12288;&#12288;2017&#24180;12&#26376;28&#26085;&#19979;&#21320;&#65292;&#20013;&#22269;&#31185;&#23398;&#38498;&#22823;&#23398;&#20154;&#25991;&#23398;&#38498;&#32852;&#21512;&#20826;&#22996;&#22312;&#29577;&#27849;&#36335;&#26657;&#21306;&#20154;&#25991;&#27004;&#20250;&#35758;&#23460;&#21484;&#24320;&#20102;&#20826;&#25919;&#32852;&#24109;&#20250;&#35758;&#65292;&#20027;&#39064;&#26159;&ldquo;&#23398;&#20064;&#21313;&#20061;&#22823;&#31934;&#31070;&#65292;&#20105;&#21019;&#19968;&#27969;&#20154;&#25991;&#23398;&#31185;&rdquo;&#12290;&#20154;&#25991;&#23398;&#38498;&#32852;&#21512;&#20826;&#22996;&#20070;(全文......)</p>
                    </li>
                  
                    <li>
                      <a title="张杰书记丁仲礼校长2018年新年贺词" href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=342552&catid=340&Itemid=176" target="_blank">&#24352;&#26480;&#20070;&#35760;&#19969;&#20210;&#31036;&#26657;&#38271;2018&#24180;&#26032;&#24180;&#36154;&#35789;</a>
                      <p>&#20146;&#29233;&#30340;&#32769;&#24072;&#20204;&#12289;&#21516;&#23398;&#20204;&#65292;&#28023;&#20869;&#22806;&#30340;&#26657;&#21451;&#20204;&#65306;
&#12288;&#12288;&ldquo;&#30333;&#26085;&#20309;&#30701;&#30701;&#65292;&#30334;&#24180;&#33510;&#26131;&#28385;&#12290;&rdquo;&#22312;2018&#24180;&#30340;&#26032;&#24180;&#38047;&#22768;&#21363;&#23558;&#25970;&#21709;&#20043;&#38469;&#65292;&#25105;&#20204;&#21521;&#22823;&#23478;&#33268;&#20197;&#35802;&#25370;&#30340;&#26032;&#24180;&#31069;&#31119;&#12290;
&#12288;&#12288;2017&#24180;&#65292;&#23398;&#26657;&#21457;&#23637;&#36935;&#21040;(全文......)</p>
                    </li>
                  
                </ul>
            <!-- </div> // panel-body:end --> 
            <!-- <a href="http://news.ucas.ac.cn/" target="_blank" class="panel-more-link"><span>+新闻网</span></a>
        </div><! // panel:end 
    </div> -->
    
  
 <!--  ------------------------kyxz------------------------
  <div id="home-student">
        <div class="panel">
            <div class="panel-head s2">
                <h3 class="panel2-head-title"><span>科苑学子</span></h3>
            </div>
            <div class="panel-body">
              
                
                  <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=342714&catid=396&Itemid=310" target="_blank"><img class="home-student-img" alt="" src="http://news.ucas.ac.cn/plugins/content/cropimage/cache/503962b1691edcef94784ae1c10e9509.jpg" width="150" height="137"></a>
                 
                
                <ul class="home-student-list" id="kyxz">
                
                  <li>
                    <a title="张杰接见国科大排球队队员" href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=342714&catid=396&Itemid=310" target="_blank">&#24352;&#26480;&#25509;&#35265;&#22269;&#31185;&#22823;&#25490;&#29699;&#38431;&#38431;&#21592;</a>
                    <p>&#12288;&#12288;1&#26376;5&#26085;&#65292;&#26657;&#22253;&#37324;&#23506;&#39118;&#20955;&#20925;&#65292;&#31036;&#22530;&#20869;&#21364;&#26262;&#24847;&#27987;&#27987;&#12290;
&#12288;&#12288;&#19978;...</p>
                  </li>
                
                  <li>
                    <a title="国科大博士合唱团参加2017CCTV中国科技盛典颁奖典礼" href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=342705&catid=340&Itemid=176" target="_blank">&#22269;&#31185;&#22823;&#21338;&#22763;&#21512;&#21809;&#22242;&#21442;&#21152;2017CCTV&#20013;&#22269;&#31185;&#25216;&#30427;&#20856;&#39041;&#22870;&#20856;&#31036;</a>
                    <p>&#12288;&#12288;2018&#24180;1&#26376;4&#26085;&#26202;&#65292;&#20013;&#22269;&#31185;&#23398;&#38498;&#22823;&#23398;&#21338;&#22763;&#21512;&#21809;&#22242;&#21442;&#21152;2017&#24180;...</p>
                  </li>
                
                  <li>
                    <a title="国科大五学院联合举办“舞彩雁栖，缘聚今夕”元旦晚会" href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=342648&catid=340&Itemid=176" target="_blank">&#22269;&#31185;&#22823;&#20116;&#23398;&#38498;&#32852;&#21512;&#20030;&#21150;&ldquo;&#33310;&#24425;&#38593;&#26646;&#65292;&#32536;&#32858;&#20170;&#22805;&rdquo;&#20803;&#26086;&#26202;&#20250;</a>
                    <p>&#12288;&#12288;2017&#24180;12&#26376;29&#26085;&#26202;7&#28857;&#65292;&ldquo;&#33310;&#24425;&#38593;&#26646;&#65292;&#32536;&#32858;&#20170;&#22805;&rdquo;2018&#24180;&#20803;...</p>
                  </li>
                
                  <li>
                    <a title="“天涯共此时”本科生元旦晚会精彩上演" href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=342574&catid=396&Itemid=310" target="_blank">&ldquo;&#22825;&#28079;&#20849;&#27492;&#26102;&rdquo;&#26412;&#31185;&#29983;&#20803;&#26086;&#26202;&#20250;&#31934;&#24425;&#19978;&#28436;</a>
                    <p>12&#26376;29&#26085;&#26202;&#19971;&#28857;&#21322;&#65292;&ldquo;&#22825;&#28079;&#20849;&#27492;&#26102;&rdquo;&#26412;&#31185;&#29983;2018&#36766;&#26087;&#36814;&#26032;&#20803;&#26086;...</p>
                  </li>
                
                  <li>
                    <a title="国科大化学科学学院举办2018“化时代”新年晚会" href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=342512&catid=396&Itemid=310" target="_blank">&#22269;&#31185;&#22823;&#21270;&#23398;&#31185;&#23398;&#23398;&#38498;&#20030;&#21150;2018&ldquo;&#21270;&#26102;&#20195;&rdquo;&#26032;&#24180;&#26202;&#20250;</a>
                    <p>12&#26376;28&#26085;&#65292;&#21270;&#23398;&#31185;&#23398;&#23398;&#38498;&#22312;&#19996;&#21306;&#31036;&#22530;&#38534;&#37325;&#20030;&#21150;&#20102;2018&ldquo;&#21270;&#26102;&#20195;...</p>
                  </li>
                
                </ul> -->
            </div><!-- // panel-body:end
            <a href="/site/25" target="_blank" class="panel-more-link"><span>+更多</span></a>
        </div><!-- // panel:end -->
    </div>
    
  <!--------------------------jxky-------------------------->
  <div id="home-tsr">
        <div class="panel">
            <div class="panel-head">
                <h3 class="panel-head-title"><span>教学科研</span></h3>
            </div>
            <div class="panel-body">
                <ul class="home-news-list" id="jxky">
                  
                    <li>
                      <a title="国科大在硅烯和锗烯的生长及其机制研究取得重要进展" href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=342486&catid=376&Itemid=196" target="_blank">&#22269;&#31185;&#22823;&#22312;&#30789;&#28911;&#21644;&#38167;&#28911;&#30340;&#29983;&#38271;&#21450;&#20854;&#26426;&#21046;&#30740;&#31350;&#21462;&#24471;&#37325;&#35201;&#36827;&#23637;</a>
                      <p>&#12288;&#12288;&#30789;&#28911;&#21644;&#38167;&#28911;&#20998;&#21035;&#26159;&#30001;&#30789;&#21407;&#23376;&#21644;&#38167;&#21407;&#23376;&#32452;&#25104;&#30340;&#20855;&#26377;&#31867;&#20284;&#30707;&#22696;&#28911;&#32467;&#26500;...</p>
                    </li>
                  
                    <li>
                      <a title="【科学讲座】周一青：面向IT3.0时代的第五代移动通信系统及其关键技术" href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=342284&catid=378&Itemid=218" target="_blank">&#12304;&#31185;&#23398;&#35762;&#24231;&#12305;&#21608;&#19968;&#38738;&#65306;&#38754;&#21521;IT3.0&#26102;&#20195;&#30340;&#31532;&#20116;&#20195;&#31227;&#21160;&#36890;&#20449;&#31995;&#32479;&#21450;&#20854;...</a>
                      <p>&#12288;&#12288;2017&#24180;12&#26376;21&#26085;19:00&#65292;&#31185;&#23398;&#21069;&#27839;&#36827;&#23637;&#21517;&#23478;&#31995;&#21015;&#35762;&#24231;&#8546;&#31532;111&#35762;&#22312;...</p>
                    </li>
                  
                    <li>
                      <a title="写给朱建明老师：“每一个数学符号都注入了情感”" href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=341845&catid=369&Itemid=206" target="_blank">&#20889;&#32473;&#26417;&#24314;&#26126;&#32769;&#24072;&#65306;&ldquo;&#27599;&#19968;&#20010;&#25968;&#23398;&#31526;&#21495;&#37117;&#27880;&#20837;&#20102;&#24773;&#24863;&rdquo;</a>
                      <p>&#12288;&#12288;&#20174;&#20061;&#26376;&#19968;&#21495;&#24320;&#23398;&#21040;&#29616;&#22312;&#65292;&#20276;&#38543;&#30528;&#22799;&#26085;&#37324;&#26368;&#21518;&#19968;&#25273;&#39556;&#38451;&#33853;&#19979;&#65292;&#28145;&#31179;...</p>
                    </li>
                  
                    <li>
                      <a title="“蝙蝠女侠”团队找出SARS病毒源头" href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=342098&catid=408&Itemid=387" target="_blank">&ldquo;&#34649;&#34656;&#22899;&#20384;&rdquo;&#22242;&#38431;&#25214;&#20986;SARS&#30149;&#27602;&#28304;&#22836;</a>
                      <p>&#20013;&#22269;&#31185;&#23398;&#38498;&#22823;&#23398;&#21338;&#22763;&#29983;&#23548;&#24072;&#30707;&#27491;&#20029;&#30740;&#31350;&#32452;&#27491;&#22312;&#36827;&#34892;&#26679;&#26412;&#22788;&#29702;&#65288;&#20013;&#22269;&#31185;...</p>
                    </li>
                  
                    <li>
                      <a title="中科院光电所研制成功国内首台全姿态陀螺寻北解算仪" href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=342022&catid=376&Itemid=196" target="_blank">&#20013;&#31185;&#38498;&#20809;&#30005;&#25152;&#30740;&#21046;&#25104;&#21151;&#22269;&#20869;&#39318;&#21488;&#20840;&#23039;&#24577;&#38464;&#34746;&#23547;&#21271;&#35299;&#31639;&#20202;</a>
                      <p>&#12288;&#12288;&#36817;&#26085;&#65292;&#20013;&#22269;&#31185;&#23398;&#38498;&#22823;&#23398;&#21338;&#22763;&#29983;&#29579;&#22823;&#24535;&#65288;&#22521;&#20859;&#21333;&#20301;&#65306;&#20013;&#22269;&#31185;&#23398;&#38498;&#20809;...</p>
                    </li>
                  
                </ul>
            </div><!-- // panel-body:end -->
            <a href="/site/26" target="_blank" class="panel-more-link"><span>+更多</span></a>
        </div><!-- // panel:end -->
    </div>
  
  
  <!--------------------------xyhd-------------------------->
  <div id="home-activity">
    <div class="panel">
      <div class="panel-head s2">
        <h3 class="panel2-head-title"><span>校园活动</span></h3>
      </div>
      <div class="panel-body">
        <ul class="home-activity-list">
        
          <li>
            <div class="hal-date">
              
              <span class="hd">01.11</span>
            </div>
            <a class="hal-title" title="明德讲堂M465：未来生物科技与军队战斗力" href="/site/87?a=ba35c9045997416aa4a1a738afb4fd84" target="_blank">&#26126;&#24503;&#35762;&#22530;M465&#65306;&#26410;&#26469;&#29983;&#29289;&#31185;&#25216;&#19982;&#20891;&#38431;&#25112;&#26007;&#21147;</a>
            <p class="hal-inf">主讲人：雷二庆&nbsp;&nbsp;地点： 雁栖湖 教1-107</p>
          </li>
        
          <li>
            <div class="hal-date">
              
              <span class="hd">01.07</span>
            </div>
            <a class="hal-title" title="追踪探测双中子星系统并合产生的引力波和光" href="/site/87?a=b148bca40d194148a87af99b13011d7f" target="_blank">&#36861;&#36394;&#25506;&#27979;&#21452;&#20013;&#23376;&#26143;&#31995;&#32479;&#24182;&#21512;&#20135;&#29983;&#30340;&#24341;&#21147;&#27874;&#21644;&#20809;</a>
            <p class="hal-inf">主讲人：温琳清 教授 （西澳大利亚大学）&nbsp;&nbsp;地点：雁栖湖校区 教1-109</p>
          </li>
        
          <li>
            <div class="hal-date">
              
              <span class="hd">01.04</span>
            </div>
            <a class="hal-title" title="明德讲堂M463：我在故宫修文物——皇家钟表的修复与保护" href="/site/87?a=e036a2e98f794e25adfc00376653acd3" target="_blank">&#26126;&#24503;&#35762;&#22530;M463&#65306;&#25105;&#22312;&#25925;&#23467;&#20462;&#25991;&#29289;&mdash;&mdash;&#30343;&#23478;&#38047;&#34920;&#30340;&#20462;&#22797;...</a>
            <p class="hal-inf">主讲人：王津&nbsp;&nbsp;地点：雁栖湖 教1-101</p>
          </li>

  
  <!--------------------------kslj-------------------------->
            <div class="panel-body">
              <img src="/newStyle/images2/kslj.png" usemap="#Map5"/>
        <map name="Map5">
              <area shape="rect" coords="6,8,94,227" href="http://service.ucas.ac.cn/" target="_blank" title="校园服务" >
              <area shape="rect" coords="108,9,334,100" href="http://sep.ucas.ac.cn/" target="_blank" title="信息门户">
              <area shape="rect" coords="350,7,426,154" href="http://job.ucas.ac.cn/" target="_blank" title="就业信息">
              <area shape="rect" coords="108,106,333,155" href="http://www.cas.cn/" target="_blank" title="中国科学院" >
              <area shape="rect" coords="110,170,235,224" href="http://lib.ucas.ac.cn/" target="_blank" title="图书馆">
              <area shape="rect" coords="251,172,420,227" href="/site/229" target="_blank" title="校长信箱">
          </map>
            </div><!-- // panel-body:end -->
            <a href="#" target="_blank" class="panel-more-link"><span>+更多</span></a>
        </div><!-- // panel:end -->
    </div>
   </div>
</div>
  
<div class="zb_g">
  <div class="zb_h"><h1 id="bottom"><img src="/newStyle/images/xiaobt.jpg" alt=""/>光影国科大</h1><div class="cls"></div></div>
  <div class="zb_k">
        <div class="gallery-scroll">
            <ul>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339828&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/170442_942708.2-.jpg" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339827&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/165704_780831.06.JPG" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339825&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/165216_469756.05.jpg" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339824&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/164540_644599.084337_677727_3344556.jpg" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339821&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/163359_330230.1.jpg" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339820&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/163115_831377.IMG_6053-HDR.jpg" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339818&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/162629_124791.jpg" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339817&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/162102_169389.JPG" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339814&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/161501_680518.JPG" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339813&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/161009_102269.jpg" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339812&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/160236_665256.514889195.jpg" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339807&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/151312_116266.jpg" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339802&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/151038_264551.jpg" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339799&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/145814_902731.jpg" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339797&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/145540_631068.JPG" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339796&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/145435_195195.jpg" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339795&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/145008_230417.1530017371.jpg" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339793&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/144643_176920.1291263493.jpg" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=339792&catid=574&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2017/201709/144353_101678.752959941.jpg" width="198" height="132"></a>
              </li>
            
              <li>
                <a href="http://news.ucas.ac.cn/index.php?option=com_content&view=article&id=227319&catid=548&Itemid=398" target="_blank"><img src="http://news.ucas.ac.cn/images/article/_thumbs/2016/201611/064641_780842.JPG" width="198" height="132"></a>
              </li>
            
            </ul>
        </div>
  </div>
</div>


<div class="zb_g">
  <div class="zb_h"><h1><img src="/newStyle/images/xiaobt.jpg" alt=""/>专题栏目</h1><span><a href="/site/230" target="_blank">+更多</a></span><div class="cls"></div></div>
  <div class="zb_k">
    <ul class="home-special-list">
           <li class="first-element" ><a href="http://news.ucas.ac.cn/index.php/xjp" target="_blank"><span style="color:red">习近平视察国科大</span></a></li>
           <li><a href="http://duzhi.ucas.ac.cn/" target="_blank"><span style="color:red">笃志网</span></a></li>
           <li><a href="http://kjxt.ucas.ac.cn/" target="_blank">科教结合协同育人计划</a></li>
           <li><a href="http://idea.cas.cn/" target="_blank">科学智慧火花</a></li>
           <li><a href="http://alumni.ucas.ac.cn/" target="_blank">校友会</a></li>
           <li><a href="http://www.ucasef.cn/" target="_blank">教育基金会</a></li>
           <li><a href="http://www.kepu.net.cn/gb/index.html" target="_blank">中国科普博览</a></li>
           <li><a href="http://zbb.ucas.ac.cn/" target="_blank">招标与采购</a></li>
           <li class="last-element"><a href="http://zhaopin.ucas.ac.cn/gjob/" target="_blank">人才招聘</a></li>
       </ul>
  </div>
</div>



<div class="db">
<div class="db_q">
<div class="db_w"><a href="#"><img src="/newStyle/images/db_gkd.png" /></a></div>
<div class="db_e"><p>版权所有©中国科学院大学</p>
<p>地址：北京市石景山区玉泉路19号（甲）  邮编: 100049</p></div>
<div class="db_r"><p>
<a href="/website_map.html">网站地图</a>  |  
<a href="/site/229">校长信箱</a>  |  
<a href="/site/186">相关链接</a>  |  
<a href="http://inc.ucas.ac.cn" target="_blank">技术支持</a>  |  
<a href="/site/220">学校校历</a></p>
<p class="db_y">京ICP备07017956号</p></div>
<div class="cls"></div>

<div style="display:none;">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F01a7c3bef12e65d63268f93ef38b1dbe' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</div>
</div>


</body>
</html>